/* .product {
    width: 300px;
    height: 400px;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
}
.product .imgbox{
    height: 100%;
    box-sizing: border-box;
}
.product .imgbox ShowImage{
    display: block;
    width: 80%;
    margin: 10px auto 0;
} */

.img-box{
    /* width: 180px; */
    height: 200px;
    text-align: center;
    /* align-items: center; */
}
img.image-card{
    width: 180px;
    height: 100%;
    object-position: center center;
    object-fit: cover;
}

.card-goods{
    max-width: 100%;
    padding-top: 5%;
    /* background-color: red; */
}

/* .detail {
    width: 100%;
    bottom: 0;
    background: rgb(255, 255, 255);
    padding: 10px;
    position: absolute;
    box-sizing: border-box;
}

.detail h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
    width: 100%;
}

.detail h2 span {
    font-size: 15px;
    color: rgb(10, 10, 10);
    font-weight: normal;
}

.detail .price{
    position:absolute;
    top: 12px;
    right: 25px;
    font-weight: bold;
    color: #000000;
    font-size: 30px;
} */